
/.vs/NamespaceGPT/FileContentIndex/2c33bdaf-bc84-4255-9ae3-47d3706b8eb2.vsidx
/.vs/NamespaceGPT/FileContentIndex/7723a17c-be63-4fff-a0bd-e7a7c08f1798.vsidx
/.vs/NamespaceGPT/FileContentIndex/82628213-9d90-48fa-b442-1016339f2541.vsidx
/.vs/NamespaceGPT/FileContentIndex/94eca5ca-6a06-44ac-a3ed-5a20b231ffd0.vsidx
/.vs/NamespaceGPT/FileContentIndex/d3a96a90-a7dc-4235-9fc5-c30dd909ff54.vsidx
/.vs/NamespaceGPT/v17/TestStore/0/013.testlog
/.vs/NamespaceGPT/FileContentIndex
